.quality {
    padding: 0 0 167px;
}

.quality__inner {
    display: flex;
    background-image: url('../../images/quality-mask.jpg');
    background-repeat: no-repeat;
    background-size: 1280px 474px;
    background-position: bottom center;
    border-radius: 10px;
    padding-left: 85px;
    margin-bottom: 168px;
}

.quality__content {
    width: 100%;
    max-width: 540px;
    padding: 176px 0;
}

.quality__title {
    margin: 0 0 32px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.quality__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.quality__img {
    margin-left: 125px;
    border-radius: 8px;
}

.region__title {
    margin: 0 0 72px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.regions__list {
    @include unlist;
    display: flex;
    justify-content: space-between;
}

.regions__item {
    width: 100%;
    max-width: 285px;

    &::before {
        content: '';
        display: inline-block;
        width: 52px;
        height: 52px;
        background-image: url('../../icons/UK.svg');
        background-repeat: no-repeat;
        background-position: top left;
        margin-bottom: 45px;
    }

    &:nth-child(2)::before {
        background-image: url('../../icons/canada.svg');
    }

    &:nth-child(3)::before {
        background-image: url('../../icons/australia.svg');
    }
}

.regionsitem__subtitle {
    margin: 0 0 24px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.regions__info {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

@media only screen and(max-width:768px) {
    .quality {
        padding: 0 0 144px;
    }

    .quality__inner {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
        background-image: url('../../images/quality-mask_tablet.jpg');
        background-size: contain;
    }

    .quality__content {
        padding: 64px 0 67px;
    }

    .quality__title {
        margin: 0 0 24px;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
    }

    .quality__text {
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }

    .quality__img {
        margin-left: 0;
        border-radius: 9px;
    }

    .regionsitem__subtitle {
        font-size: 24px;
        line-height: 36px;
    }
}

@media only screen and(max-width:607px) {
    .quality__inner {
        background-size: 327px 509px;
        border-radius: 10px;
    }

    .quality__content {
        padding: 64px 30px 61px;
    }

    .quality__title {
        margin: 0 0 24px;
        font-size: 28px;
        line-height: 28px;
    }

    .regions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .region__title {
        text-align: center;
    }

    .regions__list {
        flex-direction: column;
        align-items: center;
    }

    .regions__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .regions__item:not(:last-child) {
        margin-bottom: 80px;
    }

    .regionsitem__subtitle {
        text-align: center;
    }

    .regions__info {
        text-align: center;
    }
}